body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#logo,h1,h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.features p{
  font-size:0.9rem;
}
.features h3{
  font-size:1.2rem;
}
.card-height {
  height: 300px; /* Adjust this value as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}
